// <copyright file="RoutesController.cs" company="APIMatic">
// Aviationstack.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using APIMatic.Core.Utilities.Date.Xml;
using Aviationstack.Standard;
using Aviationstack.Standard.Exceptions;
using Aviationstack.Standard.Http.Client;
using Aviationstack.Standard.Utilities;
using Newtonsoft.Json.Converters;
using System.Net.Http;

namespace Aviationstack.Standard.Controllers
{
    /// <summary>
    /// RoutesController.
    /// </summary>
    public class RoutesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="RoutesController"/> class.
        /// </summary>
        internal RoutesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve airline route information.
        /// </summary>
        /// <param name="limit">Optional parameter: Number of results to return.</param>
        /// <param name="offset">Optional parameter: Number of results to skip.</param>
        /// <param name="airlineIata">Optional parameter: IATA code of the airline.</param>
        /// <param name="airlineIcao">Optional parameter: ICAO code of the airline.</param>
        /// <returns>Returns the Models.RouteResponse response from the API call.</returns>
        public Models.RouteResponse GetRoutes(
                int? limit = 100,
                int? offset = 0,
                string airlineIata = null,
                string airlineIcao = null)
            => CoreHelper.RunTask(GetRoutesAsync(limit, offset, airlineIata, airlineIcao));

        /// <summary>
        /// Retrieve airline route information.
        /// </summary>
        /// <param name="limit">Optional parameter: Number of results to return.</param>
        /// <param name="offset">Optional parameter: Number of results to skip.</param>
        /// <param name="airlineIata">Optional parameter: IATA code of the airline.</param>
        /// <param name="airlineIcao">Optional parameter: ICAO code of the airline.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.RouteResponse response from the API call.</returns>
        public async Task<Models.RouteResponse> GetRoutesAsync(
                int? limit = 100,
                int? offset = 0,
                string airlineIata = null,
                string airlineIcao = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RouteResponse>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Get, "/v1/routes")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(_parameters => _parameters
                      .Query(_query => _query.Setup("limit", limit ?? 100))
                      .Query(_query => _query.Setup("offset", offset ?? 0))
                      .Query(_query => _query.Setup("airline_iata", airlineIata))
                      .Query(_query => _query.Setup("airline_icao", airlineIcao))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (_reason, _context) => new ErrorResponseException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (_reason, _context) => new ErrorResponseException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}