// <copyright file="TaxesController.cs" company="APIMatic">
// Aviationstack.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using APIMatic.Core.Utilities.Date.Xml;
using Aviationstack.Standard;
using Aviationstack.Standard.Exceptions;
using Aviationstack.Standard.Http.Client;
using Aviationstack.Standard.Utilities;
using Newtonsoft.Json.Converters;
using System.Net.Http;

namespace Aviationstack.Standard.Controllers
{
    /// <summary>
    /// TaxesController.
    /// </summary>
    public class TaxesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TaxesController"/> class.
        /// </summary>
        internal TaxesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve aviation tax data.
        /// </summary>
        /// <param name="accessKey">Required parameter: Your AviationStack API access key.</param>
        /// <param name="limit">Optional parameter: Number of results to return.</param>
        /// <param name="offset">Optional parameter: Number of results to skip.</param>
        /// <param name="iataCode">Optional parameter: IATA code.</param>
        /// <returns>Returns the Models.TaxResponse response from the API call.</returns>
        public Models.TaxResponse GetTaxes(
                string accessKey,
                int? limit = 100,
                int? offset = 0,
                string iataCode = null)
            => CoreHelper.RunTask(GetTaxesAsync(accessKey, limit, offset, iataCode));

        /// <summary>
        /// Retrieve aviation tax data.
        /// </summary>
        /// <param name="accessKey">Required parameter: Your AviationStack API access key.</param>
        /// <param name="limit">Optional parameter: Number of results to return.</param>
        /// <param name="offset">Optional parameter: Number of results to skip.</param>
        /// <param name="iataCode">Optional parameter: IATA code.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.TaxResponse response from the API call.</returns>
        public async Task<Models.TaxResponse> GetTaxesAsync(
                string accessKey,
                int? limit = 100,
                int? offset = 0,
                string iataCode = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TaxResponse>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Get, "/v1/taxes")
                  .WithAuth("ApiKeyAuth")
                  .Parameters(_parameters => _parameters
                      .Query(_query => _query.Setup("access_key", accessKey))
                      .Query(_query => _query.Setup("limit", limit ?? 100))
                      .Query(_query => _query.Setup("offset", offset ?? 0))
                      .Query(_query => _query.Setup("iata_code", iataCode))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (_reason, _context) => new ErrorResponseException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (_reason, _context) => new ErrorResponseException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}